<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atooma.plugin.blow"
    android:versionCode="8"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />

	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <!-- enable these if you are in developing mode -->
    <!--
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	-->
    <!-- ########################################## -->
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
 	<uses-feature android:name="android.hardware.camera" android:required="false" />
 	<uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/brand_icon"
        android:label="@string/app_name" >
        
        <service
            android:name="com.atooma.AtoomaPluginService"
            android:process=":remote" />
        
        <receiver android:name="com.atooma.plugin.snapback.SnapbackReceiver" >
            <intent-filter>
                <action android:name="com.atooma.plugin.REGISTRATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="io.snapback.plugin.GESTURE_AND_BLOW_INTENT" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="com.atooma.plugin.snapback.SnapbackRegister" />
        
    </application>

</manifest>
